.now {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--btn-color);
  box-shadow: 2px 2px 10px var(--shadow-color);
  margin: 0 10%;
  border-radius: 20px;
  padding: 2%;
}
