.skills-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 2% 3%;
  border-radius: 20px;

  box-shadow: 2px 2px 10px var(--shadow-color);

  text-align: center;
  background-color: var(--btn-color);

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  img {
    width: 20px;
  }
}

.skills-list {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;

  p {
    text-transform: uppercase;
  }
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (width >= 800px) {
  .skills-list {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}
