.navbar-container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;

  a {
    font-family: "Roboto mono";
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
  }
  a:hover {
    color: var(--btn-color);
  }
}

h3 {
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
}
