.navbar-container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;

  a {
    font-family: "Roboto mono";
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
  }
  a:hover {
    color: var(--btn-color);
  }
}

h3 {
  text-transform: uppercase;
}

.links {
  display: none;
  gap: 50px;
  text-transform: uppercase;
}

.nav-color-mode {
  position: relative;
}

.nav-colorMode {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

@media (width >= 900px) {
  .links {
    display: flex;
  }

  .nav-color-mode {
    display: none;
  }
}
